/*
 Theme Name:     Divi-child
 Theme URI:      http://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     http://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 
@import url("../Divi/style.css");
 
/* =Theme customization starts here */
@font-face {
font-family: 'Campton-BoldDEMO';
    src: url('fonts/CamptonBookBold.otf');
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Campton-BoldDEMO';
}
input[type="text"], input[type="file"], input[type="password"], input[type="tel"], input[type="email"], input.text, input.title, select {
	border: none;
	border-bottom: 1px solid #ccc !important;
}
.input_1_3 {
	display: none;
}
/*header section css */
.et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container, .et_fixed_nav.et_show_nav #page-container{
	padding-top: 0 !important;
}
.et_pb_row {
	width: 100%;
}
.et_pb_column {
	margin-right: 0 !important;
}
.et_pb_gutters3 .et_pb_column_1_3, .et_pb_gutters3.et_pb_row .et_pb_column_1_3 {
	width: 33.33%;
}
#main-header {
	background-color: transparent;
	box-shadow: none;
}
.et_pb_gutters3 .et_pb_column_1_4, .et_pb_gutters3.et_pb_row .et_pb_column_1_4 {
	width: 25%;
	padding: 0 2%;
}
#deals .et_pb_text p:first-child {
	background-color: #ececec;
	border-bottom: 5px solid #bd9d68;
	height: 270px;
	margin-bottom: 30px;
	padding: 15%;
    transition: all 0.2s ease 0s;
}
#deals .et_pb_text:hover p:first-child {
    background-color: #f9f8f8;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
#deals .et_pb_text p:first-child span:first-child::before, #deals .et_pb_text p:first-child span:first-child::after {
    bottom: 0;
    content: "";
    height: 100%;
    transform: scale3d(1, 0, 1);
    transform-origin: center bottom 0;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
    width: 5px;
}
#deals .et_pb_text p:first-child:hover span:first-child:before,
#deals .et_pb_text p:first-child:hover span:first-child:after{
    content:"";
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    background: #bd9d68;
    -webkit-transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
    transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s,background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s,background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
}
    #deals .et_pb_text p:first-child span:first-child:before,#deals .et_pb_text p:first-child span:first-child:after{
        content:"";
        width: 5px;
        height: 100%;
        bottom: 0;
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
        transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
        transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s,background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
        transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s,background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
    }
#deals .et_pb_text span.two::before, #deals .et_pb_text span.two::after {
    bottom: 0;
    content: "";
    height: 5px;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}
#deals .et_pb_text span.two::before {
    left: 0;
    transform-origin: left bottom 0;
}
#deals .et_pb_text span.two::after {
    bottom: 0;
    content: "";
    height: 5px;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}
#deals .et_pb_text span.two::after {
    right: 0;
    transform-origin: right bottom 0;
}
#deals .et_pb_text h4 {
	color: #333;
	font-size: 25px;
}
#logotopMobile {
	width: 35px;
	float: left;
}
#logotopDesktop {
	width: 200px;
	margin-left: 5px;
}
.et_header_style_left .logo_container {
	padding: 25px;
}
#et_search_icon:hover, .mobile_menu_bar::before, .mobile_menu_bar::after, .et-social-icon a:hover, .comment-reply-link, .form-submit input, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .woocommerce .star-rating span::before, .woocommerce-page .star-rating span::before, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce a.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .wp-pagenavi span.current, .wp-pagenavi a:hover, .et_password_protected_form .et_submit_button, .nav-single a, .posted_in a, #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a, .footer-widget h4{
	color: #fff;
}
.et_mobile_menu {
	border-top: 3px solid #fff;
}
.et_pb_row_3 {
	background-repeat: repeat-x;
}
.et_pb_gutters3 .et_pb_column_1_3 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_1_3 .et_pb_module, .et_section_specialty .et_pb_gutters3.et_pb_row .et_pb_column_1_3 .et_pb_module, .et_section_specialty .et_pb_row .et_pb_column_2_3 .et_pb_gutters3.et_pb_row_inner .et_pb_column_1_3 .et_pb_module {
	margin-bottom: 0;
}
.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container, .et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
	background: rgb(43, 43, 43) none repeat scroll 0 0;
	height: 100%;
    transition: all 0.6s ease 0s;
	opacity: 1;
}
#centerLogo {
	width: 50%;
}
.et_pb_section {
	padding:0;
}
.et_pb_column {
	margin-bottom: 0;
}
#centerLogo polygon, #centerLogo path, #centerLogo rect {
	fill-opacity:1;
	transition: all 0.6s ease 0s;
}
.downArrow {
    background: rgba(0, 0, 0, 0) url("images/godown.svg") no-repeat scroll center center;
    height: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 87%;
    width: 50px;
    animation: 2.2s ease-in-out 0s normal none infinite running moveArrow;
    transition: all 0.8s ease 0s;
}
#centerLogo path.line {
	display: none;
}
#kiboko_header {
	display: table;
	text-align: center;
	margin: 0 auto;
}
#header_subtext p {
    font-family: "Campton-BoldDEMO";
    opacity: 1;
    text-align: center;
    transition: all 0.4s ease 0s;
}
#header_subtext span.middle {
    border-left: 1px solid #bd9d68;
    border-right: 1px solid #bd9d68;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
#header_subtext {
	padding: 0;
} 
.et_pb_more_button {
	border:1px solid #bd9d68;
	color: #bd9d68;
}
#quality .et_pb_column {
	margin-bottom: -66px;
}
#quality .et_pb_column:after {
    color: #fff;
    content: "+";
    font-size: 120px;
    font-weight: bold;
    left: 92%;
    position: relative;
    top: -45%;
    z-index: 100;
}
 #skills:before {
    bottom: 0;
    color: #ffffff;
    content: "Skills";
    font-family: "Campton-BoldDEMO";
    font-size: 44px;
    height: 57px;
    left: 0;
    line-height: 58px;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.8s ease 0s;
    width: 90%;
    z-index: 1;
}
#passion:before {
    bottom: 0;
    color: #ffffff;
    content: "Passion";
    font-family: "Campton-BoldDEMO";
    font-size: 44px;
    height: 57px;
    left: 0;
    line-height: 58px;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.8s ease 0s;
    width: 90%;
    z-index: 1;
}
#ideas:before {
    bottom: 0;
    color: #ffffff;
    content: "Ideas";
    font-family: "Campton-BoldDEMO";
    font-size: 44px;
    height: 57px;
    left: 0;
    line-height: 58px;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.8s ease 0s;
    width: 90%;
    z-index: 1;
}
#quality .et_pb_column:hover #skills:before, #quality .et_pb_column:hover #passion:before, #quality .et_pb_column:hover #ideas:before {
	opacity: 0;
	transition: all 0.5s ease 0s;
}
#quality .et_pb_column:last-child:after {
	content: '' !important;
}
#Spedire .et_pb_container {
	background: url("images/spedire.svg") no-repeat center center;
}
#casetrentine .et_pb_container {
	background: url("images/casetrentine.svg") no-repeat center center;
}
#vonblumen .et_pb_container {
	background: url("images/vonblumen.svg") no-repeat center center;
}
#roeno .et_pb_container {
	background: url("images/roeno.svg") no-repeat center center;
}
#ausilistore .et_pb_container {
	background: url("images/ausilistore.svg") no-repeat center center;
}
#quipacco .et_pb_container {
	background: url("images/quipacco.svg") no-repeat center center;
}
#ottiimo .et_pb_container {
	background: url("images/ottiimo.svg") no-repeat center center;
}
#guerreschi .et_pb_container {
	background: url("images/guerreschi.svg") no-repeat center center;
}
#metodo-benessere .et_pb_container {
	background: url("images/metodo-benessere.svg") no-repeat center center;
}
#vascorenna .et_pb_container {
	background: url("images/vascorenna.svg") no-repeat center center;
}
#zenturio .et_pb_container {
	background: url("images/zenturio.svg") no-repeat center center;
}
#geco .et_pb_container {
	background: url("images/geco.svg") no-repeat center center;
}

#clients .et_pb_slides:hover .et_pb_container {
	background: rgba(0, 0, 0, 0);
	transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -webkit-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
}

#clients .et_pb_slide_content, #clients .et_pb_slide_title, #quality .et_pb_slide_title {
	opacity: 0;
	position: relative;
	top: -20px;
	-webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
#clients .et_pb_slider .et_pb_button, #quality .et_pb_slide_content {
	opacity: 0;
	position: relative;
	top: 20px;
	-webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
#clients .et_pb_slider .et_pb_slide:hover .et_pb_slide_content, #clients .et_pb_slider .et_pb_slide:hover  .et_pb_slide_title, #clients .et_pb_slider .et_pb_slide:hover .et_pb_button, #quality .et_pb_slider .et_pb_slide:hover .et_pb_slide_content, #quality .et_pb_slider .et_pb_slide:hover  .et_pb_slide_title {
	opacity: 1;
	top: 0px;
	transition: all 0.5s ease 0s;
}
#clients .et_pb_slider .et_pb_slide:hover {
	box-shadow: 0 0 300px rgba(0, 0, 0, 0.9) inset;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}
#CONTATTACI h2 {
	text-align: center;
}
body #page-container .et_pb_button {
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
}
a.et_pb_button {
    overflow: hidden;
    transition: all 0.5s ease 0s;
    z-index: 1;
    border-radius: 0px;
}
a.et_pb_button:hover {
	border:1px solid #bd9d68;
    color: #ffffff !important;
    transition: all 0.5s ease 0s;
}
a.et_pb_button:after {
	animation: 0.5s ease 0s normal forwards 1 running outHover;
    background: #bd9d68 none repeat scroll 0 0;
    content: "" !important;
    height: 100%;
    left: -10%;
    position: absolute;
    top: 0;
    transform: translate(-110%, 0px) skew(-20deg);
    width: 130%;
    z-index: -1;
}
a.et_pb_button:hover::after {
    animation-name: onHover;
}
a.et_pb_button::after {
    animation-name: outHover;
    opacity: 1 !important;
}

@keyframes onHover {
0% {
    transform: translate(-110%, 0px) skew(-20deg);
}
100% {
    transform: translate(0px, 0px) skew(-20deg);
}
}
@keyframes outHover {
0% {
    transform: translate(0px, 0px) skew(-20deg);
}
100% {
    transform: translate(110%, 0px) skew(-20deg);
}
}
#deals .et_pb_text:hover p:before,
#deals .et_pb_text:hover p:before{
	content:"";
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	background: #bd9d68;
	-webkit-transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
	transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
	transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s,background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
	transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s,background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s,-webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
}
#gform_fields_1 .gfield {
	width: 50%;
	float: left;
	clear: none;
}
#gform_fields_1 #field_1_4 {
	float: right;
}
#gform_fields_1 #field_1_5 {
	clear: both;
	width: 100%;
}

#gform_fields_1 .gfield_label{
	color: #cccccc;
    cursor: default;
    display: block;
    font-family: "Campton-Medium";
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}
#gform_fields_1 #field_1_5 .ginput_container {
	display: table;
	margin: 0 auto;
}
#gform_fields_1 .gform_footer {
	text-align: center !important;
}
#gform_submit_button_1 {
	display: table;
	margin: 0 auto;
}
/* Footer section css */
#footer-info {
	float: none;
	text-align: center;
}
#footer-info a {
	color: #fff;
}
.open {
    display: block !important;
}
#nav_header {
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    text-align: right;
    cursor: pointer;
}

#top-menu-nav {
    display: none;
    position: fixed;
    right: 0;
    top: 32px;
    width: 100%;
    background: rgba(51, 51, 51, 0.7);
    height: 100%;
}
#top-menu {
    width: 400px;
    height: 97%;
    position: absolute;
    right: 0;
    border-top: 30px solid #333;
}
#top-menu li {
    display: table;
    height: 25%;
    width: 100%;
    padding: 0;
}
#top-menu li a {
    padding: 5% !important;
    height: 100%;
    display: table-cell;
    width: 100%;
    color: #fff;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    background: #333;
}
#top-menu li.current-menu-item a {
    background: #fff;
    color: #333 !important;
}
#top-menu li.current-menu-item a:hover {
    background: #fff;
}
#top-menu li a:hover {
    background: #000;
    color: #bd9d68;
    opacity: 1 !important;
}
@media screen and (min-width: 768px) {
.et_pb_promo_description {
	max-width: 810px;
	margin: 0 auto;
}
}
/* Mobile responsive css using medeia query */
@media screen and (max-width: 980px) {
	#quality .et_pb_column:after {
    color: #fff;
    content: "+";
    font-size: 120px;
    font-weight: bold;
    left: 45%;
    position: relative;
    top: 0;
    z-index: 100;
	}
}
@media screen and (max-width: 768px) {
	#logotopDesktop {
		display: none;
	}
	#centerLogo {
		width: 90%;
	}
	#kiboko_header {
		width: 70%;
	}
}